<div class="search-template position-relative">
  <div class="input-group mx-lg-2 mt-3 my-lg-0" appClickOutside (clickOutside)="hideSearch()" [class.input-group--expand]="showSearchBox"
    tabindex="0">
    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="{{placeholderText}}" aria-label="search" aria-describedby="basic-addon2"
      (keyup)="updateSearchSuggestion()" (keyup.enter)="searchUser(searchText)">
    <span class="close-icon" [class.close-icon--show]="searchText.length>1" (click)="clearSearch($event)">
      <i class="fa fa-times-thin fa-2x"></i>
    </span>
    <span class="search-icon" (click)="showSearch(searchText)">
      <i class="fa fa-search"></i>
    </span>
  </div>
  <div class="search-template__suggestions" [ngClass]="{'search-template__suggestions--show': searchText.length>1}">
    <ul class="search-result" [ngClass]="{'search-result--show': searchText.length>1 ,
                          'search-result--hide': hideSearchSuggestion}">
      <li>
        <perfect-scrollbar style="max-width: 100%; max-height: 247px;">
          <!-- | searchFilter: searchText :searchType.NAME -->
          <ng-container *ngFor="let user of users | searchFilter: searchText :searchType.NAME">
            <div *ngIf="(user !== -1)" class="row position-relative cursor-pointer" (click)="navigateToDetail(user)">
              <div class="px-1">
                <img [imgSrc]="user.imageUrl" 
                    [imgConfig]="imgConfig" [imgText]="user.name" alt="image">
              </div>
              <div class="px-1 text-left d-relative">
                <p class="p-0" [innerHTML]="user.name | highlight : searchText"></p>
              </div>
            </div>
            <div *ngIf="(user === -1)" class="search-result__no-match"> No match found</div>
          </ng-container>
        </perfect-scrollbar>
      </li>
    </ul>
  </div>
</div>