<div class="home home__bg">
    <div class="container">
        <div class="row home__baseline">
            <div class="col-12 col-sm-6">
                <div class="home__baseline__welcome__block text-center">
                    <div class="home__baseline__welcome__block__text">Welcome to</div>
                    <div class="home__baseline__welcome__block__title">XD</div>
                    <div class="home__baseline__welcome__block__text">Studio</div>
                    <div>
                        <p class="home__baseline__welcome__block__para">Digital Expereince Design</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 home__baseline__bulletin">
                <div class="home__baseline__bulletin__circle">
                    <div>
                        <p>47</p>
                        <p>Innovators</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>