
@import "../shared/styles/mixins.less";

.home__bg{
    background: url(../../assets/images/bg-1.jpg) no-repeat;
}

.home__baseline{
    padding-top: 120px;
    .home__baseline__welcome__block{
        font-family: 'Pacifico', cursive;
        padding: 100px 20px;
        .home__baseline__welcome__block__text{
            font-size: 3rem;
            color: @xd-orange;
            line-height: 8rem;
            text-shadow: -1px 0px 2px #1d1d1d;
            -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
        }
        .home__baseline__welcome__block__title{
            font-family: 'Permanent Marker', cursive;
            font-size: 4rem;
            color: #fff;
            text-shadow: -1px -1px 5px @xd-black;
            transform: rotate(-6deg);
        }
        .home__baseline__welcome__block__para{
            font-size: 2rem;
            color: #fff;
            font-family: 'JosefinSans-regular';
            padding-bottom: 10px;
            padding-top: 30px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                border-bottom: 2px solid white;
                width: 50%;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0px;
            }
        }
    }
}

.home__baseline__bulletin{
    height: 500px;
    width: 300px;
    background-color: @xd-bulletin;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-bottom: 3.5rem;
}


/********** Media Queries ****************/
@media screen and (min-width:767px){
    .home__bg{
        background-size: 100%;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .home__baseline{
        padding-top: 50px;
        .home__baseline__welcome__block{
            padding: 85px 20px;
            .home__baseline__welcome__block__text{
                font-size: 2.3rem;
                line-height: 5rem;
            }
            .home__baseline__welcome__block__title{
                font-size:3.2rem;
            }
        }
        .home__baseline__bulletin{
            height: 380px;
        }
    }
}


/* Media Query for Portrait mode from iphone5 to Galexy all Phones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait){
    .home__baseline{
        padding-top: 20px;
        .home__baseline__welcome__block{
            padding: 50px 20px;
            .home__baseline__welcome__block__text{
                font-size: 2.5rem;
                line-height: 5rem;
            }
            .home__baseline__welcome__block__title{
                font-size:2.8rem;
            }
        }
        .home__baseline__bulletin{
            height: 400px;
            margin-bottom: 2rem;
        }
    }
}

/* Media Query for Landscape mode from iphone5 to Galexy all Phones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: landscape){
    .home__baseline{
        padding-top: 50px;
        .home__baseline__welcome__block{
            padding: 110px 0px;
            .home__baseline__welcome__block__text{
                font-size: 2.5rem;
                line-height: 5rem;
            }
            .home__baseline__welcome__block__title{
                font-size:2.8rem;
            }
        }
        .home__baseline__bulletin{
            height: 420px;
        }
    }
}
