
@import "../shared/styles/mixins.less";

.home__bg{
    position: absolute;
    left:0;
}

.home__baseline{
    padding-top: 120px;
}

.home__baseline__bulletin{
    height: 500px;
    width: 300px;
    background-color: @xd-bulletin;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

