
@import "../styles/mixins.less";

.navbar {
    background-color: @xd-black;
}

.navbar-nav a{
  font-family: 'JosefinSans-regular';
  font-size:1.125rem;
}

.navbar-nav a, .navbar-light .navbar-brand , {
  color: @white ;
}

.navbar-toggler{
  background-color: @white;
}


.navbar-nav a:hover {
  color: @xd-orange ;
}

.navbar-collapse{
  .input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-right: 0;
  }
}
// .navbar-nav a:active {
//   color: #0000FF;
// }


/*************************** Media query **************************/
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
        padding-right: 2rem;
    }
    .navbar-light .navbar-nav .nav-link{
      padding: 0px 15px;
    }
    .navbar-nav{
      margin-top:0px;
    }
}

@media (max-width: 576px) {
  .navbar-light .navbar-nav .nav-link{
    padding: 10px 0px;
  }
}

@media (max-width: 992px) {
  .navbar-nav{
    text-align: left;
    margin-top: 1rem;
  }
}



