
@import "../styles/mixins.less";

.navbar {
    background-color: @xd-black;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
        padding-right: 2rem;
    }
}



