

@xd-black :rgb(68,68,68);
@xd-orange : rgb(255, 181, 47);
@white: rgb(255,255,255);
@xd-bulletin: #4444446b;
@xd-lightGrey: #8080803d;


@mobileDevicePortait: ~"only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait)"; /* Media Query for portait mode from iphone5 to Galaxy all Phones*/
@mobileDeviceLandscape: ~"only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: landscape)"; /* Media Query for Landscape mode from iphone5 to Galaxy all Phones*/
@tabDevicePortrait: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait)"; // iPads (portrait) 
@tabDeviceLandscape: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)"; // iPads (landscape) 
@largeDevices: ~"(min-width: 992px)";