
/* App Colors*/
@xd-black :#444444;
@xd-flat-brown-bg:#444;
@xd-orange : rgb(255, 181, 47);
@white: rgb(255,255,255);
@xd-bulletin: #4444447d;
@xd-lightGrey: #8080803d;
@xd-brown:#444444c7;
@xd-cardShadow:#4646463d;
@xd-progressBar:#4444449e;
@cd-navbar:#3f403c;
@xd-light-grey:#f5f5f578;
@xd-search-divider:#80808054;
@xd-grey-patcher:#fffffff2;
@xd-grey-overlay:#f6f5f5e3;
@xd-search-marker:#e3e2e0;

/* Device Compactibilities*/
@mobileDevicePortait: ~"only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: portrait)"; /* Media Query for portait mode from iphone5 to Galaxy all Phones*/
@mobileDeviceLandscape: ~"only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation: landscape)"; /* Media Query for Landscape mode from iphone5 to Galaxy all Phones*/
@tabDevicePortrait: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait)"; // iPads (portrait)
@tabDeviceLandscape: ~"only screen and (min-device-width : 768px) and (max-device-width : 1024px)"; // iPads (landscape)
@largeDevices: ~"(min-width: 992px)";

/* App Fonts*/
@font-face{
    font-family:'JosefinSans-light';
    src: url('../../../assets/fonts/JosefinSans-Light.ttf');
}
@font-face{
    font-family:'JosefinSans-bold';
    src: url('../../../assets/fonts/JosefinSans-Bold.ttf');
}
@font-face{
    font-family:'JosefinSans-regular';
    src: url('../../../assets/fonts/JosefinSans-Regular.ttf');
}
@font-face{
    font-family:'JosefinSans-semibold';
    src: url('../../../assets/fonts/JosefinSans-Semibold.ttf');
}
@font-face{
    font-family:'Rubik-Bold';
    src: url('../../../assets/fonts/Rubik-Bold.ttf');
}
@font-face{
    font-family:'Rubik-Italic';
    src: url('../../../assets/fonts/Rubik-Italic.ttf');
}
@font-face{
    font-family:'Rubik-Medium';
    src: url('../../../assets/fonts/Rubik-Medium.ttf');
}
@font-face{
    font-family:'Rubik-Regular';
    src: url('../../../assets/fonts/Rubik-Regular.ttf');
}
@font-face{
    font-family:'PatuaOne-Regular';
    src: url('../../../assets/fonts/Rubik-Regular.ttf');
}
.JosefinSans-light {font-family: 'JosefinSans-light'}
.JosefinSans-bold {font-family: 'JosefinSans-bold'}
.JosefinSans-regular {font-family: 'JosefinSans-regular'}
.JosefinSans-semibold {font-family: 'JosefinSans-semibold'}
.Rubik-Bold {font-family: 'Rubik-Bold'}
.Rubik-Italic {font-family: 'Rubik-Italic'}
.Rubik-Medium {font-family: 'Rubik-Medium'}
.Rubik-Regular {font-family: 'Rubik-Regular'}
.PatuaOne-Regular {font-family: 'PatuaOne-Regular'}
